<!DOCTYPE html>
<html>
<head>
    <title>Amazon Scraped Data</title>
</head>
<body bgcolor="#DD522E">
    <h1><center>Amazon Scraped Data<center></h1>
        <ul>
            <li><a href="https://www.amazon.in/s?i=toys&srs=6628733031&bbn=6628733031&dc&qid=1698845744&ref=lp_specialty-aps_nr_i_1" target="_blank">Toys and gaming</a></li>
            <li><a href="https://www.amazon.in/s?i=videogames&srs=6628733031&bbn=6628733031&dc&qid=1698845744&ref=lp_specialty-aps_nr_i_8" target="_blank">Video Games</a></li>
            <li><a href="https://www.amazon.in/s?i=sporting&srs=6628733031&bbn=6628733031&dc&qid=1698845744&ref=lp_specialty-aps_nr_i_12" target="_blank">Sports</a></li>
            <li><a href="https://www.amazon.in/s?i=appliances&srs=6628733031&bbn=6628733031&dc&qid=1698845744&ref=lp_specialty-aps_nr_i_13" target="_blank">Appliences</a></li>
            <li><a href="https://www.amazon.in/s?i=office-products&srs=6628733031&bbn=6628733031&dc&qid=1698845744&ref=lp_specialty-aps_nr_i_7" target="_blank">Office Prodect</a></li>
        </ul>
    <a href="/">Go back to the homepage</a>
    
</body>
</html>